.bread{
    margin-top: 50px;
    margin-bottom: 0%;
  }

.jumbotron{
    margin:0px;
    padding: 0%;
    background-image: url(/img/banner.jpg);
    background-repeat: no-repeat;
 
}

#botonera{
    margin:0px;
    padding: 0%;
    background-color:rgb(51, 33, 33);
    color:white;
}

#title_list{
    padding-left:40%; color:#ffffff;
}

#p_title{
    color:white;
}

#l_hoteles{
    background-color:#9fafae;
    color: black;
}

#fleyenda{
    background-image: url(/img/BIGSTOCK.jpg);
    background-repeat: no-repeat;
}

#T_Formulario{
    color:#FF0000;
    text-align: center;
}

#leyendaContacto{
    text-align: center;
}

.formulario{
    margin-top:150px;
    margin-bottom:200px;
} 

.foot{
    margin-bottom: 0px;
}

.card-hotel{
    border-color: white;
    flex:1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.desc{
    margin: 20px;
}

.title-h{
    font-size: 1.5rem;
    color: orange;
    margin-left:25%;
    margin-bottom: 0em;
    margin-top: 1em;
}

.btn{
    width: 100%;
    margin-bottom: 0em;
    margin-top: 0em; 
}

footer{
    margin: 0;
    padding: 10px 10px 0 10px;
    background-color: rgb(122, 32, 32);
    margin-bottom: 0px;
    color:white;
}

footer a{
    text-decoration: none;
    color:white
}

#tarjetas{
    margin-top:40px;
    padding: 0;
    background-image: url(/img/tarjetas.jpg);
    background-repeat: no-repeat;
    height:700px;
}

#cardAcept{
    margin-top: 130px;
    font-size: 25px;
}


#icocard{
    color: rgb(252, 255, 80);
    font-size: 30px;
}

.iconcard{
    margin-left: 1px;
}